.page-text{
	p{
		font-size: 12px;
		line-height: 18px;
		color: $text-light-2;
		margin-bottom: 20px;

		&:last-child{
			margin-bottom: 0;
		}

		&.gray{
			color: #9c9c9c;

			a{
				color: #9c9c9c;
			}
		}

		&.dark{
			color: $dark;

			a{
				color: $dark;
			}
		}

		&.bigger{
			font-size: 14px;
		}

		&.small-margin{
			margin-bottom: 10px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

.page-header{
	margin-bottom: 25px;

	&.big-margin{
		margin-bottom: 40px;
	}

	&.small-margin{
		margin-bottom: 15px;
	}

	&:last-child{
		margin-bottom: 0;
	}

	h1,h2,h3{
		font-size: 30px;
		line-height: 40px;
		color: $violet;
		font-weight: 400;
	}
}

.big-header{
	margin-bottom: 20px;

	&:last-child{
		margin-bottom: 0;
	}

	h3,h4,h5,h6,p{
		font-size: 24px;
		line-height: 30px;
		color: $violet;
		margin: 0;
		font-weight: 400;
	}
}

.medium-header{
	margin-bottom: 10px;

	&:last-child{
		margin-bottom: 0;
	}

	h3,h4,h5,h6,p{
		font-size: 18px;
		line-height: 24px;
		color: $violet;
		margin: 0;
		font-weight: 400;
		font-weight: bold;
	}
}

.section-caption{
	margin-bottom: 25px;
	color: $violet;

	h3,h4,h5,h6,p{
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 6px;
		font-weight: 400;
	}

	p{
		font-size: 14px;
		line-height: 18px;
	}
}

.small-title{
	margin-bottom: 20px;

	h4,h5,h6, p{
		font-size: 18px;
		line-height: 24px;
		font-weight: 400;
		color: #828282;
	}

	&.no-margin{
		margin-bottom: 0;
	}

	&.small-margin{
		margin-bottom: 10px;
	}
}

.time-span{
	font-size: 18px;
	line-height: 20px;
	color: $violet;
	font-weight: bold;
	line-height: 36px;
}