// Colors
$light: #f3f3f3;
$gray: #969696;
$lightgray: #595959;
$medium-dark: #353535;
$dark: #282828;

$violet: #251b34;

$text-color: $dark;
$text-light: #8b8b8b;
$text-light-2: #747474;

// Fonts
$main: "Proxima Nova", Arial, sans-serif;

// Params
$t: .3s;

// Site params
$content-max-width: 1170px;
$content-min-width: 1170px;