.create-new-research-form{
	max-width: 685px;
}

.form{
	width: 100%;
	margin-bottom: 30px;

	&.no-margin{
		margin-bottom: 0;
	}

	.form-row{
		margin-bottom: 30px;

		&:last-child{
			margin-bottom: 0 !important;
		}

		&.big-margin{
			margin-bottom: 40px;
		}

		&.inline{
			display: flex;
			align-items: flex-start;

			.form-label{
				flex: none;
				padding-right: 25px;
				min-width: 170px;
				display: flex;
				height: 38px;
				align-items: center;
			}

			.form-field{
				flex: auto;
			}
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="url"],
	input[type="tel"],
	textarea{
		height: 36px;
		border: 1px solid #ddd;
		font-size: 14px;
		padding: 0 10px;
		width: 100%;
		outline: none !important;
		transition: all $t;

		&:focus{
			border-color: $dark;
		}

		&:placeholder{
			color: #9c9c9c;
		}

		&.small{
			height: 32px;
		}
	}

	textarea{
		resize: none;
		height: 120px;
		padding: 5px 10px;
	}

	select{
		height: 38px;
		font-size: 14px;
		padding: 0 10px;
		width: 100%;
		outline: none !important;
		transition: all $t;
		border: 0;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.from-to-fields{
		display: flex;

		.item{
			width: 95px;
			margin-right: 15px;

			&:last-child{
				margin-right: 0;
			}
		}
	}

	&.bold-labels{
		.form-row .form-label{
			font-weight: bold;
		}
	}

	&.small-rows-margin{
		.form-row{
			margin-bottom: 15px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	&.small-width{
		// max-width: 400px;
		width: auto;

		.form-row{
			.form-label{
				min-width: 210px;
			}

			.form-field{
				width: 180px;
				flex: none;

				&.wide{
					width: 300px;
				}
			}
		}
	}
}

.logic-form{
	.form-label{
		width: 95px;
		color: $gray;
	}

	.form-field{
		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="url"],
		input[type="tel"],
		.select{
			width: 180px;
			font-size: 14px;
			color: #9c9c9c;
		}

		.select select{
			font-size: 14px;
			color: #9c9c9c;
		}
	}
}

.select{
	overflow: hidden;
	position: relative;
	border: 1px solid #ddd;
	transition: all $t;

	&:focus{
		border-color: $dark;
	}

	select{
		width: calc(100% + 20px);
		background: transparent;
	}

	&:after{
		content: '';
		display: block;
		width: 8px;
		height: 5px;
		background: url(../img/icons/opener.png) no-repeat center center;
		position: absolute;
		right: 13px;
		top: calc(50% - 2px);
	}
}

.input-file{
	display: flex;
	width: 100%;

	input{
		display: none;
	}

	label{
		display: flex;
		width: 100%;

		.input-holder{
			display: block;
			margin-right: 10px;
			flex: auto;

			input{
				height: 36px;
				width: 100%;
				display: block;
			}
		}

		.input-btn{
			display: block;
			flex: none;
			width: 110px;

			.btn{
				width: 100%;
			}
		}
	}
}

.radio-block{
	label{
		padding: 7px 15px;
		min-width: 95px;
		display: block;
		font-size: 14px;
		line-height: 16px;
		color: $gray;
		text-align: center;
		border: 1px solid $gray;
		transition: all $t;
		cursor: pointer;
	}

	input{
		display: none;

		&:not([disabled]){
			+ label:hover{
				background: $light;
			}
		}

		&:checked{
			+ label{
				background: $gray !important;
				color: #fff !important;
			}
		}

		&[disabled]{
			+ label{
				cursor: default;
			}
		}
	}

	&.squared{
		label{
			padding: 3px;
			width: 38px;
			height: 38px;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 0;
		}
	}

	&.gray{
		label{
			background: #ececec;
			border: 0;
			color: $text-color;

			&:hover{
				background: darken(#ececec, 10%);
			}
		}

		input:checked{
			+ label{
				color: $medium-dark;
				color: #fff;
			}
		}
	}
}

.checkboxes-list{
	display: flex;
	align-items: center;

	> .item{
		margin-right: 40px;

		&:last-child{
			margin-right: 0;
		}
	}
}

.checkbox-block{
	label{
		min-width: 95px;
		font-size: 14px;
		line-height: 22px;
		color: $dark;
		text-align: center;
		transition: all $t;
		cursor: pointer;
		padding-left: 35px;
		position: relative;
		user-select: none;

		&:before{
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			border: 1px solid $gray;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -11px;
			transition: all $t;
		}

		&:after{
			width: 0;
			height: 0;
			border: 3px solid transparent;
			left: 6px;
			top: 10px;
			content: '';
			display: block;
			position: absolute;
			transform: rotateZ(0deg);
			transform-origin: 100% 100%;
			transition: all $t;
		}
	}

	input{
		display: none;

		&:checked{
			+ label{
				&:before{
					background: $gray;
				}

				&:after{
					top: 0px;
					left: 1px;
					width: 6px;
					height: 11px;
					border-top: 2px solid transparent;
					border-left: 2px solid transparent;
					border-right: 2px solid #fff;
					border-bottom: 2px solid #fff;
					transform: rotateZ(37deg);
				}
			}
		}

		&[disabled]{
			+ label{
				cursor: default;
				color: $gray;
			}
		}
	}
}

.radio-list{
	.item{
		input{
			display: none;
		}

		label{
			display: flex;
			height: 45px;
			font-size: 14px;
			line-height: 17px;
			padding: 9px 20px;
			transition: all $t;
			cursor: pointer;
			align-items: center;

			&:hover{
				background: $gray;
			}
		}

		input:checked{
			+ label{
				background: $gray;
			}
		}
	}
}

.buttons-group{
	display: flex;

	> .item{
		margin-right: 3px;

		&:last-child{
			margin-right: 0px;
		}
	}
}

.form.question-preview{
	
}