.create-new-research-form{
	max-width: 685px;
}

.square-checkbox{
	input[type="checkbox"]{
		display: none;

		+ label{
			position: relative;
			padding-left: 37px;
			display: block;
			cursor: pointer;

			&:before{
				content: '';
				display: block;
				width: 16px;
				height: 16px;
				border-radius: 0;
				border: none;
				border: 1px solid #ddd;
				background: #fff;
				position: absolute;
				left: 0;
				top: calc(50% - 8px);
				transition: all $t;
			}

			&:after{
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				border-radius: 0;
				background: #ddd;
				position: absolute;
				left: 4px;
				top: calc(50% - 4px);
				opacity: 0;
				transition: all $t;
			}

			&:hover{
				&:after{
					opacity: .5;
				}
			}
		}

		&:checked{
			+ label{
				&:before{
					border-color: $lightgray;
				}

				&:after{
					opacity: 1;
					background: $lightgray;
				}
			}
		}
	}

	&.no-text{
		input[type="checkbox"]{
			+ label{
				padding-left: 16px;
			}
		}
	}
}

.form{
	width: 100%;
	margin-bottom: 30px;

	&.no-margin{
		margin-bottom: 0;
	}

	.form-row{
		margin-bottom: 30px;

		.form-label{
			margin-bottom: 5px;
		}

		&:last-child{
			margin-bottom: 0 !important;
		}

		&.big-margin{
			margin-bottom: 40px;
		}

		&.inline{
			display: flex;
			align-items: flex-start;

			.form-label{
				flex: none;
				padding-right: 25px;
				min-width: 170px;
				display: flex;
				height: 38px;
				align-items: center;
			}

			.form-field{
				flex: auto;
			}
		}
	}

	.asterisk{
		color: #f00;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="url"],
	input[type="tel"],
	textarea{
		height: 36px;
		border: 1px solid #ddd;
		font-size: 14px;
		padding: 0 10px;
		width: 100%;
		outline: none !important;
		transition: all $t;

		&:focus{
			border-color: $dark;
		}

		&:placeholder{
			color: #9c9c9c;
		}

		&.small{
			height: 32px;
		}

		&.gray-bg{
			border: 1px solid #ececec;
			background: #ececec;

			&:focus{
				background: #fff;
				border-color: $dark;
			}
		}
	}

	textarea{
		resize: none;
		height: 95px;
		padding: 5px 10px;
	}

	select{
		height: 38px;
		font-size: 14px;
		padding: 0 10px;
		width: 100%;
		outline: none !important;
		transition: all $t;
		border: 0;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	&.gray-fields{
		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="url"],
		input[type="tel"],
		textarea{
			border: 1px solid #ececec;
			background: #ececec;

			&:focus{
				background: #fff;
				border-color: $dark;
			}
		}

		select{
			border: 1px solid #ececec;
			background: #ececec;
		}
	}

	.from-to-fields{
		display: flex;

		.item{
			width: 95px;
			margin-right: 15px;

			&:last-child{
				margin-right: 0;
			}
		}
	}

	&.bold-labels{
		.form-row .form-label{
			font-weight: bold;
		}
	}

	&.small-rows-margin{
		.form-row{
			margin-bottom: 15px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	&.small-width{
		// max-width: 400px;
		width: auto;

		.form-row{
			.form-label{
				width: 210px;
			}

			.form-field{
				width: 180px;
				flex: none;

				&.wide{
					width: 300px;
				}

				&.fullwidth{
					flex: auto;
				}
			}
		}
	}
}

.logic-form{
	.form-label{
		width: 95px;
		color: $gray;
	}

	.form-field{
		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="url"],
		input[type="tel"],
		.select{
			width: 180px;
			font-size: 14px;
			color: #9c9c9c;
		}

		.select select{
			font-size: 14px;
			color: #9c9c9c;
		}
	}
}

.select{
	overflow: hidden;
	position: relative;
	border: 1px solid #ddd;
	transition: all $t;

	&:focus{
		border-color: $dark;
	}

	select{
		width: calc(100% + 20px);
		background: transparent;
	}

	&:after{
		content: '';
		display: block;
		width: 8px;
		height: 5px;
		background: url(../img/icons/opener.png) no-repeat center center;
		position: absolute;
		right: 13px;
		top: calc(50% - 2px);
	}
}

.input-file{
	display: flex;
	width: 100%;

	input{
		display: none;
	}

	label{
		display: flex;
		width: 100%;

		.input-holder{
			display: block;
			margin-right: 10px;
			flex: auto;

			input{
				height: 36px;
				width: 100%;
				display: block;
			}
		}

		.input-btn{
			display: block;
			flex: none;
			width: 110px;

			.btn{
				width: 100%;
			}
		}
	}
}

.radio-block{
	label{
		padding: 7px 15px;
		min-width: 95px;
		display: block;
		font-size: 14px;
		line-height: 16px;
		color: $gray;
		text-align: center;
		border: 1px solid $gray;
		transition: all $t;
		cursor: pointer;
	}

	input{
		display: none;

		&:not([disabled]){
			+ label:hover{
				background: $light;
			}
		}

		&:checked{
			+ label{
				background: $gray !important;
				color: #fff !important;
			}
		}

		&[disabled]{
			+ label{
				cursor: default;
			}
		}
	}

	&.type-circle{
		label{
			padding: 0;
			padding-left: 30px;
			background: transparent !important;
			max-width: 100%;
			border: none;
			text-align: left;
			position: relative;
			color: $dark;
			min-height: 18px;
			font-size: 14px;
			line-height: 18px;
			font-weight: bold;

			&:before{
				content: '';
				display: block;
				width: 18px;
				height: 18px;
				border-radius: 50%;
				background: #ddd;
				position: absolute;
				left: 0;
				top: calc(50% - 9px);
				transition: all $t;
			}

			&:after{
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: #ddd;
				position: absolute;
				left: 4px;
				top: calc(50% - 5px);
				background: $dark;
				transition: all $t;
				opacity: 0;
			}

			&:hover{
				background: transparent !important;

				&:after{
					opacity: .5;
				}
			}
		}

		input{
			&:checked{
				+ label{
					background: transparent !important;
					color: $dark !important;

					&:after{
						opacity: 1;
					}
				}
			}
		}
	}

	&.squared{
		label{
			padding: 3px;
			width: 38px;
			height: 38px;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 0;
		}
	}

	&.big{
		label{
			height: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $text-color;
		}
	}

	&.gray{
		label{
			background: #ececec;
			border: 0;
			color: $text-color;
		}

		input{
			&:not([disabled]){
				+ label{
					&:hover{
						background: darken(#ececec, 10%);
					}
				}
			}
		}

		input:checked{
			+ label{
				color: $medium-dark;
				color: #fff;
			}
		}
	}
}

.checkboxes-list{
	display: flex;
	align-items: center;

	> .item{
		margin-right: 40px;

		&:last-child{
			margin-right: 0;
		}
	}
}

.checkbox-block{
	label{
		min-width: 95px;
		font-size: 14px;
		line-height: 22px;
		color: $dark;
		text-align: center;
		transition: all $t;
		cursor: pointer;
		padding-left: 35px;
		position: relative;
		user-select: none;

		&:before{
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			border: 1px solid $gray;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -11px;
			transition: all $t;
		}

		&:after{
			width: 0;
			height: 0;
			border: 3px solid transparent;
			left: 6px;
			top: 10px;
			content: '';
			display: block;
			position: absolute;
			transform: rotateZ(0deg);
			transform-origin: 100% 100%;
			transition: all $t;
		}
	}

	input{
		display: none;

		&:checked{
			+ label{
				&:before{
					background: $gray;
				}

				&:after{
					top: 0px;
					left: 1px;
					width: 6px;
					height: 11px;
					border-top: 2px solid transparent;
					border-left: 2px solid transparent;
					border-right: 2px solid #fff;
					border-bottom: 2px solid #fff;
					transform: rotateZ(37deg);
				}
			}
		}

		&[disabled]{
			+ label{
				cursor: default;
				color: $gray;
			}
		}
	}
}

.radio-list{
	> .item{
		input{
			display: none;
		}

		label{
			display: flex;
			height: 45px;
			font-size: 14px;
			line-height: 17px;
			padding: 9px 20px;
			transition: all $t;
			cursor: pointer;
			align-items: center;

			&:hover{
				background: $gray;
			}
		}

		input:checked{
			+ label{
				background: $gray;
			}
		}
	}
}

.radio-grid{
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	display: flex;

	> .item{
		width: calc(33.33333% - 13.33333px);
		margin-bottom: 15px;
		flex: none;
	}

	&.pay-systems{
		> .item{
			.radio-block{
				input{
					+ label{
						height: 70px;
						align-items: center;
						justify-content: center;
						display: flex;
						// filter: grayscale(100);

						&:hover{
							background: transparent !important;
							// filter: grayscale(0);
						}
					}

					&:checked{
						+ label{
							background: transparent !important;
							border-color: $dark;
							filter: grayscale(0);
						}
					}
				}
			}
		}
	}
}

.support-form{
	max-width: 345px;
}

.payment-form{
	display: flex;
	max-width: 445px;

	input{
		flex: auto;
		margin-right: 10px;
	}

	.btn{
		flex: none;
	}
}

.controls-list{
	display: flex;
	flex-wrap: wrap;

	> .item{
		margin-right: 50px;

		&:last-child{
			margin-right: 0;
		}
	}
}

.settings-form{
	max-width: 615px;

	.form-row.inline .form-label{
		min-width: 215px;
	}
}

.order-research-form{
	max-width: 520px;
}

.controls-group{
	display: flex;

	> .item{
		margin-right: 20px;

		&:last-child{
			margin-right: 0;
		}
	}
}