.researches-cards-list-wrapper{
	padding-bottom: 70px;
}

.researches-cards-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;

	.research-card{
		width: calc(33.33333% - 13.3333px);
		margin-bottom: 20px;
	}
}

.research-card{
	display: flex;
	flex-direction: column;
	padding: 9px;
	position: relative;
	z-index: 2;

	.card-overlay{
		width: 100%;
		height: 100%;
		border: 1px solid #ddd;
		background: transparent;
		transition: box-shadow $t;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}

	&:hover{
		z-index: 5;

		.card-overlay{
			background: #fff;
			box-shadow: 0 4px 22px rgba(#000, .2);
		}
	}

	.card-timer{
		position: absolute;
		top: 22px;
		right: 9px;
		background: #fff;
		padding: 8px 10px;
	}

	.card-image{
		height: 165px;
		width: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: #959595;

		&:hover{
			opacity: .8;
		}
	}

	.card-name{
		flex: auto;
		padding: 15px 0;

		h4,h5,h6{
			font-size: 18px;
			line-height: 20px;

			a{
				color: $text-color;
				text-decoration: none;
			}
		}
	}

	.card-section{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;
		border-top: 1px solid #ddd;

		&:last-child{
			padding-bottom: 0px;
		}

		&.space-around{
			justify-content: space-around;
		}

		> .item{}
	}

	.card-text{
		p{
			font-size: 14px;
			line-height: 18px;
			color: #6b6b6b;
			margin-bottom: 12px;

			&:last-child{
				margin-bottom: 0;
			}

			strong{
				font-weight: bold;
				color: $dark;
			}
		}
	}

	.card-stats{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		.stats-label{
			font-size: 14px;
			line-height: 18px;
			color: #6b6b6b;
		}

		.stats-count{
			font-size: 24px;
			line-height: 26px;
			font-weight: bold;
		}

		&.inline{
			flex-direction: row;
			display: inline-flex;
			align-items: baseline;

			.stats-count{
				margin-right: 5px;
			}

			.stats-label{
				font-size: 14px;
				line-height: 26px;
				color: $text-color;
			}
		}
	}

	.card-share{
		display: flex;
		width: 100%;
		justify-content: space-around;

		> .item{
			text-decoration: none;
			color: $text-color;
			// flex: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;

			&:hover{
				opacity: .7;
			}

			.item-icon{
				flex: none;
				display: block;
				height: 30px;

				i{
					display: block;
				}
			}

			.item-text{
				display: block;
				font-size: 14px;
				line-height: 14px;
				flex: auto;
			}
		}
	}

	.card-hidden-content{
		display: none;
		padding: 0 9px;
		position: absolute;
		top: calc(100% - 9px);
		left: 0;
		z-index: 2;
		width: 100%;
	}
}