.btn{
	display: inline-flex;
	cursor: pointer;
	outline: none;
	border: 0;
	transition: all $t;

	&.btn-default{
		font-size: 14px;
		line-height: 18px;
		padding: 9px 30px;
		background: $dark;
		color: #fff;
		text-decoration: none;
		text-align: center;
		justify-content: center;
		align-items: center;

		&:hover{
			background: $medium-dark;
		}

		i{
			margin-right: 5px;
			display: block;
		}

		&.btn-small{
			font-size: 14px;
			line-height: 16px;
			padding: 2px 7px;
		}

		&.btn-two-lines{
			min-height: 55px;
			padding: 9px 20px;
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.first-line{
				color: #fff;
				font-size: 14px;
				line-height: 14px;
			}

			.second-line{
				color: #a7a7a7;
				font-size: 12px;
			}
		}

		&.btn-square{
			width: 38px;
			height: 38px;
			padding: 0;
			align-items: center;
		}

		&.btn-submit{
			padding: 7px 6px;
			font-weight: bold;
			text-transform: uppercase;
		}

		&.btn-gray{
			background: $gray;

			&:hover{
				background: darken($gray, 10%);
			}
		}

		&.btn-white{
			background: #fff;
			color: $text-color;
			border: 1px solid transparent;

			&:hover{
				border-color: $dark;
			}
		}

		&.btn-lightgray{
			background: $lightgray;

			&:hover{
				background: darken($lightgray, 10%);
			}
		}

		&.btn-light{
			background: #ececec;
			color: $text-color;

			&:hover{
				background: darken(#ececec, 10%);
			}
		}

		&.btn-medium{
			padding: 13px 40px;
			line-height: 18px;
		}

		&.btn-big{
			padding: 15px 55px;
			font-size: 18px;
			line-height: 24px;
		}
	}

	&.btn-bold{
		font-weight: bold;
	}

	&.small-paddings{
		padding-left: 6px;
		padding-right: 6px;
	}

	&.medium-paddings{
		padding-left: 10px;
		padding-right: 10px;
	}

	&.fullwidth{
		width: 100%;
	}
}