@mixin col-generator ($prefix:'.col', $prop: 'flex-basis', $total-columns:12) {
	$col-widths: ();
	@for $i from 1 through $total-columns {
		$w: ($i /$total-columns);

		@if not index($col-widths, $w) {
			#{$prefix}-#{$i} {
				#{$prop}: $w * 100%;
				flex-grow: 0;
			}

			$col-widths: append($col-widths, $w, comma);
		}
	}
}

.flex-container{
	@include col-generator();
	@include col-generator('.offset', 'margin-left');
	flex-wrap: wrap;
	display: flex;

	&.align-center{
		align-items: center;
	}

	&.space-between,
	.space-between{
		justify-content: space-between;
	}

	.item{
		&.with-right-margin{
			margin-right: 25px;

			&:last-child{ margin-right: 0; }
		}
	}

	.flex-row{
		display: flex;
		flex-wrap: wrap;
		width: calc(100% + 20px);
		margin-left: -10px;
		margin-right: -10px;

		.flex-col{
			padding: 0 10px;

			&.stretch-items{
				align-items: stretch;
				display: flex;
			}
		}
	}
}