.sort-filters-section{
	display: flex;
	padding: 15px;
	background: $light;
	align-items: center;
	margin-bottom: 30px;

	&:last-child{
		margin-bottom: 0;
	}

	.caption{
		min-width: 150px;
		flex: none;

		p{
			font-size: 14px;
			line-height: 16px;
			color: $text-color;
		}
	}

	.filters-list{
		flex: auto;
		display: flex;
		justify-content: space-between;

		.filter{
			margin-left: 20px;

			&:first-child{
				margin-left: 0;
			}
		}
	}
}

.filter{
	overflow: hidden;
	position: relative;
	cursor: pointer;

	// select{
	// 	background: none;
	// 	cursor: pointer;
	// 	border: 0;
	// 	display: block;
	// 	width: calc(100% + 20px);
	// 	height: 30px;
	// 	outline: none !important;
	// }

	// &:after{
	// 	content: '';
	// 	display: block;
	// 	width: 8px;
	// 	height: 5px;
	// 	background: url(../img/icons/opener.png) no-repeat center center;
	// 	position: absolute;
	// 	right: 0;
	// 	top: calc(50% - 2px);
	// }
}