.table{
	margin-bottom: 25px;
	color: $text-color;
	width: 100%;
	border-spacing: 0;

	&:last-child{
		margin-bottom: 0;
	}

	tr{
		transition: all $t;
		background: #f3f3f3;

		td,
		th{
			padding: 13px 11px;
			word-wrap: break-word;
			min-height: 60px;
			font-size: 14px;
			line-height: 18px;
			vertical-align: middle;
			border: 0;
			border-bottom: 2px solid #fff;

			.btn.btn-light{ margin-bottom: 3px; }

			&:first-child{
				padding-left: 35px;
			}

			&:last-child{
				padding-right: 35px;
			}
		}

		th{
			background: #ddd;
			font-weight: bold;
			text-align: left;
		}

		&:last-child{
			td, th{
				border-bottom: 0 !important;
			}
		}

		&:hover{
			background: darken(#f3f3f3, 15%);
		}
	}

	.sort-by{
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: all $t;

		&:hover{
			opacity: .8;
		}

		span{
			text-align: center;
			font-size: 13px;
			line-height: 13px;
		}

		i{
			margin-left: 8px;
		}
	}
}