.timer-block{
	display: flex;
	align-items: center;

	.timer-icon{
		flex: none;
		margin-right: 10px;

		i{
			display: block;
		}
	}

	.timer-text{
		.label{
			font-size: 12px;
			line-height: 12px;
			color: $text-light;
		}

		.countdown{
			font-size: 14px;
			line-height: 14px;
			color: $text-color;
		}
	}
}