.header-nav{
	display: flex;
	list-style: none;
	border-left: 1px solid $gray;
	height: 72px;

	li{
		display: flex;
		border-right: 1px solid $gray;

		a{
			display: flex;
			padding: 13px;
			text-decoration: none;
			color: $text-color;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			line-height: 14px;
			text-align: center;

			&:hover{
				opacity: .8;
			}
		}
	}
}